
.circle {
	border-radius: 50%;
}

.large-button {
    width: 200px;
    height: 190px;
    position: absolute;
    background: url('transparent_button_sprite.png') no-repeat;
    background-position: -5px -5px;
    border: 0;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.large-button:focus {
    background: url('transparent_button_sprite.png') no-repeat;
    background-position: -5px -5px;
}

.large-button:active {
    background: url('transparent_button_sprite.png') no-repeat ;
    background-position: -215px -5px;
}

.large-button-background {
    width: 188px;
    height: 174px;
    margin-top: 7px;
    margin-left: 6px;
    position: absolute;
}
